* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center-wrapper{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;

}

.game-buttons-container{
    width:400px;
    display:flex;
    justify-content:space-between;
}

.game-button{
    padding:15px;
    font-size:20px;
}

.start-button{
    padding:5px;
    font-size:15px;    
    margin-bottom:50px
}
.game-text{
    display:flex;
    width:400px;
    justify-content:center;
    margin-bottom:50px;
}